.img-logo{
	max-width: 35%;
	height: auto;
}
body{
	background-color: #FFFFFF;
}
.container{
	background-color: rgba(222,101,156,0.6);
}
.image-navbar-custom{
	width: 150px;
	height: auto;
}
.custom-header{
	background-image: url('images/cherry_blossoms.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.about-us-img{
}
.sidebar-rule{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 85%;
	height: 3px;
	background-color: #c51867;
}
.main-body{
	width: 100%;
}
.hours{
	text-align: justify;
}
.centered{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
.main-home-image{
	width: 75%;
	height: auto;
}
table{
	width: 100%;
	text-align: center;
}
th{
	height: 50px;
}
body{
	font-size: 18px;
}